body {
  background-color: #f5f7ff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #0052ff;
  text-align: center;
}
p {
  font-size: 20px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background: #0052ff;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}
button:hover {
  background: #003bb5;
}
hr {
  width: 60%;
  margin: 30px auto;
  ul {
  list-style: none;
}
}
li {
  margin: 10px 0;
}