body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: blue;
}

p {
  font-size: 20px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background: blue;
  color: white;
  border-radius: 8px;
}
button:hover {
  opacity: 0.8;
}
